/*text fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap'); /*Candal*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); /*Manrope*/

/*--------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Titles, subtitles & more*/
h1{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
}

h2{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 600;
}

h4{
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
}

.subtitle{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
}

p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    text-align: justify;
}

.section-p1{
    padding: 40px 80px;
}

/*.button_text{
    font-family: Candal;
    font-size: 16px;
    font-weight: regular;
}
*/
.navbar_text{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
}

/*----------------------------------NAVBAR---------------------------------*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    border-bottom: 1px solid #00000049;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: #e67a6c;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #e67a6c;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

.logo{
    width: 65px;
}

#cart-icon{
    position: relative;
    font-size: 1.4rem;
    cursor: pointer;
    color: #145662;
}

#cart-icon[data-quantity]::after{
    contain: '';
}

#cart-icon[data-quantity]::after{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background-color: #e67a6c;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Nunito;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: -2px 0  4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart.active {
    right: 0;
}

.cart-title{
    text-align: center;
    font-family: Raleway;
    color: #083841;
    margin-top: 2rem;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid rgb(63, 63, 63);
}

.total-title{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
}

.total-price{
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    margin: 1rem 0 0 0.7rem;
}

.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: #549DA5;
    color: rgb(255, 253, 253);
    font-family: Candal;
    font-size: 14px;
    cursor: pointer;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #f67171;
    cursor: pointer;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    text-transform: uppercase;
}

.cart-price{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.cart-quatity{
    border: 1px solid rgb(177, 177, 177);
    outline-color: #000;
    width: 2.8rem;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    border-radius: 4px;
}

.cart-remove{
    font-size: 18px;
    cursor: pointer;
    color:#c33c2a;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*----------------------------------HERO IMAGE---------------------------------*/
#hero{
    background-image: url("img/tenis-hero-1.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    color: white;
    padding-bottom: 15px;
    /*sobra en los bordes*/
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
    overflow-wrap: break-word;
}

#hero .btnHero{
    padding: 15px; /* Tamaño del botón */
    font-family: Candal;
    font-size: 16px;
    font-weight: regular;
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Quitar subrayado del botón */
    background-color: #549DA5;
    border-radius: 6px; /* Borde redondeado del botón */
    cursor: pointer;
}

/*----------------------------------PRODUCT SECTION---------------------------------*/
#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #b6b6b6;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .desc span {
    font-family: Nunito;
    font-size: 14px;
    color: #545454;
}

#product1 .pro .desc p{
    padding-top: 7px;
}

#product1 .pro .desc h5{
    padding-top: 10px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    color: #c33c2a;
}

#product1 .pro .shop{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #083841;
    font-weight: 500;
    border: 1px solid #083841;
    position: absolute;
    bottom: 20px;
    right: 15px;    
}

/*----------------------------------FOOTER---------------------------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    padding-bottom: 20px;
}

footer p{
    padding-bottom: 15px;
}

footer a{
    font-family: Poppins;
    font-size: 14px;
    font-weight: regular;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
}

footer h2{
    margin-bottom: 30px;
    color: #145662; 
}

.footSize{
    width: 130px;
}

.copyright p{
    width: 100%;
    text-align: center;
    color: grey;
    font-family: Nunito;
    font-size: 14px;
}

/*----------------------------------productos.html---------------------------------*/
.product-header {
    background-image: url("img/tenis-hero-3.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h1, 
#page-header h4 {
    color: white;
    /*sobra en los bordes*/
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #e67a6c;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: Manrope;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/*----------------------------------sproducto.html---------------------------------*/
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-img{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    border-radius: 60px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details a{
    background-color: #083841;
    color: white;
    padding: 13px; /* Tamaño del botón */
    font-family: Candal;
    font-size: 15px;
    font-weight: regular;
    text-decoration: none;
    cursor: pointer;
}

#prodetails .single-pro-details span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    text-align: justify;
    line-height: 25px;
}

/*----------------------------------sobreNosotros.html---------------------------------*/
.about-header{
    background-image: url("img/about-hero.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 40px;
}

#about-head div marquee{
    font-family: Poppins;
    font-size: 16px;
    font-weight: regular;
    color: white;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head a{
    background-color: #083841;
    color: white;
    padding: 13px; /* Tamaño del botón */
    font-family: Candal;
    font-size: 15px;
    font-weight: regular;
    text-decoration: none;
    cursor: pointer;
}

/*----------------------------------RESPONSIVE---------------------------------*/
/*Start Media Query*/
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #f3f3f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        font-size: 18px;
        padding-left: 20px;
    }
    
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #e67a6c;
        font-size: 18px;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 40% right 50%;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    h1{
        font-size: 40px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    /*Single Product*/
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /*About*/
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
}